 body{
     background:lightgrey;
     font-family: Arial, Helvetica, sans-serif;
 }

 #board{
     position: absolute;
     margin: auto;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     /* border: 1vmin solid black; */
     height: 90vmin;
     width: 100vmin;
 }
 #P1{
     border-radius: 50%;
     background-color: aqua;
     width: 25%;
     height: 25%;
 }
 #CPU{
    border-radius: 50%;
    background-color:brown;
    width: 25%;
    height: 25%;
}
 .box{ 
        float:left;
        height: 9.601vmin;
        width: 9.601vmin;
        border: 0.1vmin solid black;
        text-align: center;
        line-height: 9.601vmin;
        font-size: 2.5vmin;
        /* background-color: lightgreen; */
    }
    .white{
        background-color: white;
        color:black;
    }
    .black {
        background-color: black;
        color:white;
    }

    .ladder{
        height: 2px;
        background: green;
        position: absolute;
    }
    .ladder#ladder1{
        width: 100px;
        top: 60%;
        left: 30px;
        transform: translate(59%, -99%);
        rotate: 90deg;
    }
    .ladder#ladder2{
        width: 43px;
        top: 69%;
        transform: translate(900%, 49%);
        rotate: 15deg;
    }

    .ladder#ladder3{
        width: 43px;
        top: 69%;
        transform: translate(900%, 49%);
        rotate: 15deg;
    }